@tailwind base;

@tailwind components;

@tailwind utilities;

html body {
  background-color: #ffffff;
}

html.dark body {
  background-color: #1b1e21;
}

body {
  margin: 1em;
}

h1 {
  font-size: 2em;
}
